
#filter{
    margin-left: 100px;
    margin-top: 40px;
    position: absolute;
}

#location{
    margin-left: 760px;
    position: absolute;

}

#subEng{
    margin-left: 600px;
    position: absolute;

}

#inst{
    margin-left: 500px;
    position: absolute;
}

form{
    margin-left: 200px;
    position: relative;
}


label{
    margin-left: 30px;
}

form button{
    float: left;
}

form{
    margin-right: 500px;
}

#institutes{
    margin: auto;
    padding-top: 80px;
    padding-right:170px;
}


.frame{
    width: 300px;
    height: 160px;
    border: 1px solid black;
    border-radius: 5px;
    float: right;    
    padding: 7px;  
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pic{
    float: right;
    width: 130px;
    height: 140px;
}


.pic img{
    width: 100%;
    height: 100%; 
}

.logo{
    float: right;
    width: 100px;
    height: 50px;
    border: 1px solid #cecece;   
    border-radius: 5px; 
    margin-right: 30px; 
    margin-top:10px; 
    padding: 2px;   
}

.logo img{
    width: 100%;
    height: 100%; 
}

.name{
    font-size: 16px;
    text-align: center;
}
