<meta charset="utf-8">

<div id="startChat">
    <p>
        .על מנת שנוכל להתאים לך את תחומי ההנדסה
         נצטרך להכיר אותך ואת תחומי העניין שלך<br>
        ...לחץ על "התחל צא'ט" ונצא לדרך
    </p>
    <img src="../../../assets/images/chat.png">
    <button routerLink="/chat-bot">התחל צ'אט</button>
</div>
<button routerLink="/institutes">מוסדות לימוד</button>
<button routerLink="/subEng">תחומי הנדסה</button>


<!-- <div id="info">
    <p>
        כאן תוכל למצוא מידע אודות תחומי ההנדסה השונים<br>
    </p>
    <button>תחומי הנדסה</button>
    <button>מוסדות לימוד</button>
    <button>תנאי שכר</button>

</div> -->
