#startChat{
    float: right;
    text-align: right;
    margin-top: 20px;
}

p{
    text-align: center;
    float: right;
    margin-left: 50px;
    position: absolute;
    font-size: 15px; 
}

img{
    margin-right: 100px;
    margin-top: 40px;

}

#startChat button{
    margin-left: -500px;
    margin-top: 10px;
    position: absolute;
    width: 200px;
    background: #84b4a7;
    font-weight: bold;
    border: 2px solid #60a18f;
}

#startChat button:hover{
    background-color:#60a18f;    
}
/*#info{
    padding-left: 80px;
    text-align: center;
    margin-top: 100px;
}*/

button{
    height: 40px;
    width: 110px;
    border-radius: 5px;
    border: 2px solid #4f4d4f;
    background-color:#676767;
    color:#ffffff;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background-color:#585858;
}


#info button{
    margin-top: 70px;
    margin-left: 5px;
}