#chat{
  background: #e5e5ea;
  width: 600px;
  height: 300px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
}

#chat p{
  direction: rtl;
  background-color:#ffffff;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  width: 200px;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.odd{
  padding: 50px;
  direction: rtl;
  background-color:#84b4a7;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  min-width: 200px;
  float: right;
  margin-bottom:20px;
  margin-right: 120px
}

.even{
  direction: rtl;
  background-color:#ffffff;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  width: 200px;
   margin-left: 120px;
   margin-top:55px;
}

.first{
  display: none;
}

.input{
  background: #e5e5ea;
  width: 600px;
  height: 100px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  border-top: 2px solid #d3d3d3;
}

.inputtext{
  direction: rtl;
  width: 200px;
  padding: 5px 20px;
  margin: 8px 0;
  display:block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 270px;
}

button{
  height: 28px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid #4f4d4f;
  background-color:#676767;
  color:#ffffff;
  font-size: 17px;
  cursor: pointer;
  margin-left: 510px;
  margin-top:-35px;
  position: absolute;
}