#auth{
  height: 350px;
  width: 350px;
  border:2px solid #d3d3d3;
  background-color: #f9f9f9;
  float: right;
  position:absolute;
  margin-top: 50px; 
  margin-left: 470px;
}

h2{
  font-size: 20px;
  font-family: arial;
  margin-left: 20px;
}

form{
  float: right;
  padding-right: 70px;
  padding-top: 30px;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display:block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::placeholder{
  text-align: right;
}

button{
    height: 35px;
    width: 85px;
    border-radius: 5px;
    border: 2px solid #4f4d4f;
    float:right;
    background-color:#676767;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
}

button:hover{
    background-color:#585858;
}