
button{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
}
#Facebook{
    background-color: #3B5998;
    color: white;
}


#Google{
    background-color: #F44336;
    color: white;
}