#header{
    height: 120px;
    background: #84b4a7;
}

img{
   margin-left: 90px;
}

#buttons{
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}

button{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #7d331f;
    margin-left: 15px;
    background-color:#cf411b;
    color:#ffffff;
    font-size: 17px;
    cursor: pointer;
    outline:none;
}

button:hover{
    background-color:#b13615;
}

#nameLogin{
    float: right;
    margin-right: 100px;
    margin-top: 50px;  
    font-size: 20px;
    color:#ffffff;
}

.logout{
    cursor: pointer;
    color: #b13615;
    font-size: 15px;
    margin-left: 650px;
    margin-top: 55px;
    position: absolute;
}
