<meta charset="utf-8">
 <div id="container" class="container box">
   <div class="table-responsive">
   <br />
    <div align="right">
     <span (click)="openAdd(addModal)" id="add" class="glyphicon glyphicon-plus-sign"></span>
    </div>
    <br />
    <table id="user_data" class="table table-bordered table-striped">
     <thead>
      <tr>
       <th>שאלה</th> 
        <th>משקל כימיה</th>
        <th>משקל תוכנה</th>
        <th>משקל אלקטרוניקה</th>
        <th>משקל רפואה</th>
        <th>משקל תעשייה וניהול</th>
        <th>משקל בניין</th>
        <th>משקל מכונות</th>
        <th></th>
      </tr>
     </thead>
    <tbody>
        <tr *ngFor="let q of questions">
            <td>{{ q.questionData }}</td>
            <td>{{ q.Wchemistry }}</td>
            <td>{{ q.Wsoftware }}</td>
            <td>{{ q.Welectronic }}</td>
            <td>{{ q.Wmedical }}</td>
            <td>{{ q.Wmanagement }}</td>
            <td>{{ q.Wbuilding }}</td>
            <td>{{q.Wmachine }}</td>
            <td>
                <span (click)="openUpdate(updateModal,q)" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span (click)="openDelete(deleteModal,q)" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            </td>
        </tr>
      </tbody>     
    </table>
   </div>
  </div>



<ng-template #addModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">הוספת שאלה</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="alertConfig.dismissible">
        <ngb-alert>
            השאלה נוספה בהצלחה!
        </ngb-alert>
    </p>
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <div class="form-container">
            <div class="row columns">

                <input type="text" formControlName="question" placeholder="השאלה">
                <input type="number" formControlName="Wchemistry" placeholder="משקל כימיה">
                <input type="number" formControlName="Wsoftware" placeholder="משקל תוכנה">
                <input type="number" formControlName="Welectronic" placeholder="משקל אלקטרוניקה">
                <input type="number" formControlName="Wmedical" placeholder="משקל רפואה">
                <input type="number" formControlName="Wmanagement" placeholder="משקל תעשייה וניהול">
                <input type="number" formControlName="Wbuilding" placeholder="משקל בניין">
                <input type="number" formControlName="Wmachine" placeholder="משקל מכונות">
                <input type="submit" class="btn btn-info" value="הוספה" [disabled]="!rForm.valid">

            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #updateModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">עדכון שאלה</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p *ngIf="alertConfig.dismissible">
        <ngb-alert>
            העדכון בוצע בהצלחה!
        </ngb-alert>
    </p>
    <form [formGroup]="rForm" (ngSubmit)="updatePost(rForm.value)">
        <div class="form-container">
            <div class="row-columns">

                <label>השאלה</label><input type="text" formControlName="question" placeholder="{{Qchoosed.questionData}}">
                <label>משקל כימיה</label><input type="number" formControlName="Wchemistry" placeholder="{{Qchoosed.Wchemistry}}">
                <label>משקל תוכנה</label><input type="number" formControlName="Wsoftware" placeholder="{{Qchoosed.Wsoftware}}">
                <label>משקל אלקטרוניקה</label><input type="number" formControlName="Welectronic" placeholder="{{Qchoosed.Welectronic}}">
                <label>משקל רפואה</label><input type="number" formControlName="Wmedical" placeholder="{{Qchoosed.Wmedical}}">
                <label>משקל תעשיה וניהול</label><input type="number" formControlName="Wmanagement" placeholder="{{Qchoosed.Wmanagement}}">
                <label>משקל בניין</label><input type="number" formControlName="Wbuilding" placeholder="{{Qchoosed.Wbuilding}}">
                <label>משקל מכונות</label><input type="number" formControlName="Wmachine" placeholder="{{Qchoosed.Wmachine}}">
                <input type="submit" class="btn btn-info" value="עדכון" [disabled]="!rForm.valid">

            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<!--   <p *ngIf="alertConfig.dismissible">
    <ngb-alert>
        השאלה נמחקה!
    </ngb-alert>
  </p> -->

  <div class="alert alert-success" role="alert">השרלה נמחקה</div>
  <div class="modal-body">
    האם אתה בטוח כי ברצונך למחוק את השאלה?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="delete()">אישור</button>
  </div>
</ng-template>