p{
    direction: rtl;
    margin-top: 50px;
    border:1px solid black;
}
#Afeka{
    float: right;
    height: 300px;
}
button{
    float: right;
}
.back{
    position: fixed;
    margin-top:350px;
    margin-right:300px;
}